server {
    listen 80;
    server_name www.{{ domain }};

    error_log /home/{{ user }}/logs/error_log;
    access_log /home/{{ user }}/logs/access_log;
	
    root /var/www/{{ domain }}/{{ quchempedia }}/public/;
    index index.html;

    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }
}
